@charset "utf-8";
/* CSS Document */


<<<<<<< HEAD
body { font-size: 18px; font-family: serif;  color: #F00; background: aqua;  }
=======
body { font-size: 18px; font-family: serif;  color: #F00; background: #000; }
>>>>>>> 760496ac4d8dd0ac6c10b375d3d55d0cf8351413
